In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data_preprocessed=pd.read_csv('Absenteeism_preprocessed.csv')

In [4]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [5]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [6]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] >data_preprocessed['Absenteeism Time in Hours'].median(),1,0)

In [7]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [8]:
data_preprocessed['Excessive Absenteeism']=targets

In [9]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [10]:
targets.sum()/targets.shape[0]

0.45571428571428574

In [11]:
data_with_targets=data_preprocessed.drop(['Absenteeism Time in Hours'],axis=1)

In [12]:
data_with_targets is data_preprocessed

False

In [13]:
data_with_targets.shape

(700, 15)

In [14]:
data_with_targets.iloc[:,:-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1

In [15]:
unscaled_inputs=data_with_targets.iloc[:,:-1]

In [16]:
#from sklearn.preprocessing import StandardScaler
#absenteeism_scaler=StandardScaler()

In [56]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        self.scaler = StandardScaler(copy,with_mean,with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None

    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self

    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [57]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [86]:
#columns_to_scale=['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       #'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education','Children', 'Pets']
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']

In [87]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [88]:
absenteeism_scaler=CustomScaler(columns_to_scale)

In [89]:
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Month Value', 'Day of the Week',
                      'Transportation Expense', 'Distance to Work', 'Age',
                      'Daily Work Load Average', 'Body Mass Index', 'Children',
                      'Pets'],
             copy=None, with_mean=None, with_std=None)

In [90]:
scaled_inputs=absenteeism_scaler.transform(unscaled_inputs)

In [91]:
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,-0.683704,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-0.683704,-1.574681,-1.141882,2.130803,-0.806331,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.007725,-0.654143,1.426749,0.248310,-0.806331,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.668253,0.854936,-1.682647,0.405184,-0.806331,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,0.668253,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.007725,-0.654143,-0.533522,0.562059,-0.853789,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,-0.007725,0.040034,-0.263140,-1.320435,-0.853789,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,0.668253,1.624567,-0.939096,-1.320435,-0.853789,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.668253,0.190942,-0.939096,-0.692937,-0.853789,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,0.668253,1.036026,0.074838,0.562059,-0.853789,-0.408580,0,-0.019280,0.268487

In [92]:
scaled_inputs.shape

(700, 14)

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
train_test_split(scaled_inputs,targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
 331         1         0         0         0     1.324766         1.344231
 306         0         0         0         1     1.039256         0.668253
 310         1         0         0         0     1.039256        -0.007725
 444         0         0         0         1    -0.102784         0.668253
 209         1         0         0         0    -0.388293        -0.007725
 ..        ...       ...       ...       ...          ...              ...
 409         0         0         0         1    -0.959313         1.344231
 67          0         0         0         1     1.039256         1.344231
 115         0         0         0         1    -1.530333        -0.683704
 343         0         0         0         1     1.610276        -0.683704
 651         1         0         0         0    -0.959313        -1.359682

      Transportation Expense  Distance to Work       Age  \
 331                1.036026          0.074838  0.562059
 306               -1.574681         -1.141882  2.130803
 310                2.092381          1.494345 -1.320435
 444                0.040034         -0.263140 -1.320435
 209               -0.578689          0.818389 -1.477309
 ..                      ...               ...       ...
 409                1.005844          0.412816 -0.536062
 67                 0.040034         -0.263140 -1.320435
 115               -1.574681         -1.344669  0.091435
 343               -1.574681         -1.141882  2.130803
 651               -0.654143         -0.263140 -1.006686

      Daily Work Load Average  Body Mass Index  Education  Children      Pets
 331                 0.305783        -0.408580          0 -0.019280  0.268487
 306                -0.169648         1.002633          0 -0.019280 -0.589690
 310                -0.169648         0.061825          0 -0.019280  2.843016
 444                -0.446195        -0.643782          0 -0.019280  1.126663
 209                 2.677510        -1.349389          0 -0.919030 -0.589690
 ..                       ...              ...        ...       ...       ...
 409                -0.685486         0.767431          0  0.880469  0.268487
 67                 -0.458497        -0.643782          0 -0.019280  1.126663
 115                 0.919937         0.297027          0 -0.919030 -0.589690
 343                -0.879469         1.002633          0 -0.019280 -0.589690
 651                -1.240355        -1.819793          1 -0.919030 -0.589690

 [525 rows x 14 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
 320         0         0         0         1     1.324766         1.344231
 406         0         0         0         0    -0.959313         0.668253
 641         0         0         0         1    -0.959313        -0.007725
 381         0         0         0         1    -1.244823        -1.359682
 486         0         0         0         1     0.468236         0.668253
 ..        ...       ...       ...       ...          ...              ...
 451         0         0         0         1    -0.102784        -0.683704
 667         0         0         1         0    -0.673803        -1.359682
 69          0         0         0         1     1.039256        -0.007725
 127         0         0         0         1    -1.530333        -1.359682
 97          0         0         0         1     1.324766         0.668253

      Transportation Expense  Distance to Work       Age  \
 320                0.568211          1.359154 -0.065439
 406                0.356940         -0.330735  0.718933
 641               -0.654143          1.426749  0.248310
 381               -0.654143          1.426749  0.248310
 486                1.036026          0.074838  0.562059
 ..                      ...               ...       ...
 451                0.190942         -0.668713  1.032682
 667                0.040034         -0.263140 -1.320435
 69                 0.040034         -0.263140 -1.320435
 127               -1.574681         -1.344669  0.091435
 97                 1.036026          0.074838  0.562059

      Daily Work Load Average  Body Mass Index  Education  Children      Pets
 320                 0.305783        -0.878984          0  2.679969 -0.589690
 406                -0.685486        -0.878984          0 -0.919030 -0.589690
 641                -1.240355         1.002633          0 -0.919030 -0.589690
 381                -0.499679         1.002633          0 -0.919030 -0.589690
 486                -0.550213        -0.408580          0 -0.019280  0.268487
 ..                       ...              ...        ...       ...       ...
 451                -0.446195         2.649049          0 -0.019280 -0.589690
 667                -0.637953        -0.643782          0 -0.019280  1.126663
 69                 -0.458497        -0.643782          0 -0.019280  1.126663
 127                 0.919937         0.297027          0 -0.919030 -0.589690
 97                  0.863727        -0.408580          0 -0.019280  0.268487

 [175 rows x 14 columns],
 array([1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
        0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
        0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0,
        1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
        1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
        1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
        0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1,
        1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
        0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
        0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
        0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
        1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
        0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0,
        1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0]),
 array([0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
        1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
        1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
        1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
        1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0])]

In [95]:
x_train,x_test,y_train,y_test=train_test_split(scaled_inputs,targets, train_size=0.8, random_state=20)

In [96]:
print(x_train.shape,y_train.shape)

(560, 14) (560,)

In [97]:
print(x_test.shape,y_test.shape)

(140, 14) (140,)

In [98]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [99]:
reg = LogisticRegression()

In [100]:
reg.fit(x_train,y_train)

C:\Users\Aula\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [101]:
reg.score(x_train,y_train)

0.7714285714285715

In [102]:
model_outputs= reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [103]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [104]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True, False,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [105]:
np.sum((model_outputs == y_train))

432

In [106]:
model_outputs.shape[0]

560

In [107]:
np.sum((model_outputs == y_train))/model_outputs.shape[0]

0.7714285714285715

In [108]:
reg.intercept_

array([-1.47082548])

In [109]:
reg.coef_

array([[ 2.62614283,  0.84432   ,  2.93971875,  0.67771914,  0.16145652,
        -0.08257256,  0.60695978, -0.00741802, -0.16862442, -0.00383568,
         0.26749958, -0.23085763,  0.35572764, -0.28559431]])

In [110]:
feature_name = unscaled_inputs.columns.values

In [111]:
summary_table = pd.DataFrame (columns=['Feature name'],data=feature_name)
summary_table['Coefficient']=np.transpose(reg.coef_)
summary_table

               Feature name  Coefficient
0                  Reason_1     2.626143
1                  Reason_2     0.844320
2                  Reason_3     2.939719
3                  Reason_4     0.677719
4               Month Value     0.161457
5           Day of the Week    -0.082573
6    Transportation Expense     0.606960
7          Distance to Work    -0.007418
8                       Age    -0.168624
9   Daily Work Load Average    -0.003836
10          Body Mass Index     0.267500
11                Education    -0.230858
12                 Children     0.355728
13                     Pets    -0.285594

In [112]:
summary_table.index=summary_table.index + 1
summary_table.loc[0]=['Intercept',reg.intercept_[0]]
summary_table=summary_table.sort_index()
summary_table

               Feature name  Coefficient
0                 Intercept    -1.470825
1                  Reason_1     2.626143
2                  Reason_2     0.844320
3                  Reason_3     2.939719
4                  Reason_4     0.677719
5               Month Value     0.161457
6           Day of the Week    -0.082573
7    Transportation Expense     0.606960
8          Distance to Work    -0.007418
9                       Age    -0.168624
10  Daily Work Load Average    -0.003836
11          Body Mass Index     0.267500
12                Education    -0.230858
13                 Children     0.355728
14                     Pets    -0.285594

In [113]:
summary_table['Odds_ratio']=np.exp(summary_table.Coefficient)

In [114]:
summary_table

               Feature name  Coefficient  Odds_ratio
0                 Intercept    -1.470825    0.229736
1                  Reason_1     2.626143   13.820360
2                  Reason_2     0.844320    2.326395
3                  Reason_3     2.939719   18.910527
4                  Reason_4     0.677719    1.969381
5               Month Value     0.161457    1.175221
6           Day of the Week    -0.082573    0.920745
7    Transportation Expense     0.606960    1.834845
8          Distance to Work    -0.007418    0.992609
9                       Age    -0.168624    0.844826
10  Daily Work Load Average    -0.003836    0.996172
11          Body Mass Index     0.267500    1.306693
12                Education    -0.230858    0.793852
13                 Children     0.355728    1.427219
14                     Pets    -0.285594    0.751567

In [115]:
summary_table.sort_values('Odds_ratio',ascending=False)

               Feature name  Coefficient  Odds_ratio
3                  Reason_3     2.939719   18.910527
1                  Reason_1     2.626143   13.820360
2                  Reason_2     0.844320    2.326395
4                  Reason_4     0.677719    1.969381
7    Transportation Expense     0.606960    1.834845
13                 Children     0.355728    1.427219
11          Body Mass Index     0.267500    1.306693
5               Month Value     0.161457    1.175221
10  Daily Work Load Average    -0.003836    0.996172
8          Distance to Work    -0.007418    0.992609
6           Day of the Week    -0.082573    0.920745
9                       Age    -0.168624    0.844826
12                Education    -0.230858    0.793852
14                     Pets    -0.285594    0.751567
0                 Intercept    -1.470825    0.229736

In [ ]:
#Testing the model

In [119]:
reg.score(x_test,y_test)

0.7428571428571429

In [120]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.73685721, 0.26314279],
       [0.60918629, 0.39081371],
       [0.41367898, 0.58632102],
       [0.80123548, 0.19876452],
       [0.07360132, 0.92639868],
       [0.31482473, 0.68517527],
       [0.30996677, 0.69003323],
       [0.13143709, 0.86856291],
       [0.79426475, 0.20573525],
       [0.75019913, 0.24980087],
       [0.48367988, 0.51632012],
       [0.19799007, 0.80200993],
       [0.07753484, 0.92246516],
       [0.70995519, 0.29004481],
       [0.30224948, 0.69775052],
       [0.57267672, 0.42732328],
       [0.54083385, 0.45916615],
       [0.57389761, 0.42610239],
       [0.38014204, 0.61985796],
       [0.04814556, 0.95185444],
       [0.69716193, 0.30283807],
       [0.79219655, 0.20780345],
       [0.39173151, 0.60826849],
       [0.4186287 , 0.5813713 ],
       [0.25818169, 0.74181831],
       [0.75527615, 0.24472385],
       [0.51057945, 0.48942055],
       [0.86794852, 0.13205148],
       [0.19785515, 0.80214485],
       [0.78285796, 0.21714204],
       [0.6250933 , 0.3749067 ],
       [0.31043163, 0.68956837],
       [0.31023764, 0.68976236],
       [0.46086771, 0.53913229],
       [0.79219655, 0.20780345],
       [0.49209705, 0.50790295],
       [0.78591513, 0.21408487],
       [0.24915804, 0.75084196],
       [0.56497886, 0.43502114],
       [0.41072982, 0.58927018],
       [0.77222115, 0.22777885],
       [0.56277818, 0.43722182],
       [0.78075378, 0.21924622],
       [0.56571324, 0.43428676],
       [0.18704148, 0.81295852],
       [0.41755437, 0.58244563],
       [0.30275864, 0.69724136],
       [0.72661345, 0.27338655],
       [0.79447749, 0.20552251],
       [0.81682589, 0.18317411],
       [0.40868002, 0.59131998],
       [0.61884424, 0.38115576],
       [0.32954781, 0.67045219],
       [0.71295076, 0.28704924],
       [0.1502224 , 0.8497776 ],
       [0.53182002, 0.46817998],
       [0.10809684, 0.89190316],
       [0.74129767, 0.25870233],
       [0.64326543, 0.35673457],
       [0.64485166, 0.35514834],
       [0.27904304, 0.72095696],
       [0.3381139 , 0.6618861 ],
       [0.68689014, 0.31310986],
       [0.20714739, 0.79285261],
       [0.79974181, 0.20025819],
       [0.73256275, 0.26743725],
       [0.90158919, 0.09841081],
       [0.7671912 , 0.2328088 ],
       [0.26473435, 0.73526565],
       [0.67047035, 0.32952965],
       [0.7865331 , 0.2134669 ],
       [0.67005057, 0.32994943],
       [0.09178541, 0.90821459],
       [0.56373114, 0.43626886],
       [0.38208364, 0.61791636],
       [0.78285796, 0.21714204],
       [0.21027261, 0.78972739],
       [0.29562586, 0.70437414],
       [0.23423672, 0.76576328],
       [0.32086468, 0.67913532],
       [0.75112542, 0.24887458],
       [0.90539154, 0.09460846],
       [0.77274083, 0.22725917],
       [0.26835793, 0.73164207],
       [0.58503412, 0.41496588],
       [0.87590299, 0.12409701],
       [0.29969533, 0.70030467],
       [0.43190679, 0.56809321],
       [0.73436774, 0.26563226],
       [0.32250469, 0.67749531],
       [0.83746738, 0.16253262],
       [0.8734044 , 0.1265956 ],
       [0.77520751, 0.22479249],
       [0.71053311, 0.28946689],
       [0.77053049, 0.22946951],
       [0.13258111, 0.86741889],
       [0.72721562, 0.27278438],
       [0.21270794, 0.78729206],
       [0.77113914, 0.22886086],
       [0.76747018, 0.23252982],
       [0.37361498, 0.62638502],
       [0.29861132, 0.70138868],
       [0.29126108, 0.70873892],
       [0.3014778 , 0.6985222 ],
       [0.53378209, 0.46621791],
       [0.48628628, 0.51371372],
       [0.74563366, 0.25436634],
       [0.15305017, 0.84694983],
       [0.22243927, 0.77756073],
       [0.84543155, 0.15456845],
       [0.91298456, 0.08701544],
       [0.09773512, 0.90226488],
       [0.34695336, 0.65304664],
       [0.64452462, 0.35547538],
       [0.44864406, 0.55135594],
       [0.40374553, 0.59625447],
       [0.19121555, 0.80878445],
       [0.19659643, 0.80340357],
       [0.47079588, 0.52920412],
       [0.69830084, 0.30169916],
       [0.76169332, 0.23830668],
       [0.82846491, 0.17153509],
       [0.17201252, 0.82798748],
       [0.52123551, 0.47876449],
       [0.78285796, 0.21714204],
       [0.61764053, 0.38235947],
       [0.8003283 , 0.1996717 ],
       [0.8777951 , 0.1222049 ],
       [0.25261944, 0.74738056],
       [0.6844664 , 0.3155336 ],
       [0.34766176, 0.65233824],
       [0.79106187, 0.20893813],
       [0.68076125, 0.31923875],
       [0.65633346, 0.34366654],
       [0.7066566 , 0.2933434 ],
       [0.48981191, 0.51018809],
       [0.55705454, 0.44294546],
       [0.69602526, 0.30397474],
       [0.74025665, 0.25974335],
       [0.56325272, 0.43674728]])

In [121]:
predicted_proba.shape

(140, 2)

In [122]:
predicted_proba[:,1]

array([0.26314279, 0.39081371, 0.58632102, 0.19876452, 0.92639868,
       0.68517527, 0.69003323, 0.86856291, 0.20573525, 0.24980087,
       0.51632012, 0.80200993, 0.92246516, 0.29004481, 0.69775052,
       0.42732328, 0.45916615, 0.42610239, 0.61985796, 0.95185444,
       0.30283807, 0.20780345, 0.60826849, 0.5813713 , 0.74181831,
       0.24472385, 0.48942055, 0.13205148, 0.80214485, 0.21714204,
       0.3749067 , 0.68956837, 0.68976236, 0.53913229, 0.20780345,
       0.50790295, 0.21408487, 0.75084196, 0.43502114, 0.58927018,
       0.22777885, 0.43722182, 0.21924622, 0.43428676, 0.81295852,
       0.58244563, 0.69724136, 0.27338655, 0.20552251, 0.18317411,
       0.59131998, 0.38115576, 0.67045219, 0.28704924, 0.8497776 ,
       0.46817998, 0.89190316, 0.25870233, 0.35673457, 0.35514834,
       0.72095696, 0.6618861 , 0.31310986, 0.79285261, 0.20025819,
       0.26743725, 0.09841081, 0.2328088 , 0.73526565, 0.32952965,
       0.2134669 , 0.32994943, 0.90821459, 0.43626886, 0.61791636,
       0.21714204, 0.78972739, 0.70437414, 0.76576328, 0.67913532,
       0.24887458, 0.09460846, 0.22725917, 0.73164207, 0.41496588,
       0.12409701, 0.70030467, 0.56809321, 0.26563226, 0.67749531,
       0.16253262, 0.1265956 , 0.22479249, 0.28946689, 0.22946951,
       0.86741889, 0.27278438, 0.78729206, 0.22886086, 0.23252982,
       0.62638502, 0.70138868, 0.70873892, 0.6985222 , 0.46621791,
       0.51371372, 0.25436634, 0.84694983, 0.77756073, 0.15456845,
       0.08701544, 0.90226488, 0.65304664, 0.35547538, 0.55135594,
       0.59625447, 0.80878445, 0.80340357, 0.52920412, 0.30169916,
       0.23830668, 0.17153509, 0.82798748, 0.47876449, 0.21714204,
       0.38235947, 0.1996717 , 0.1222049 , 0.74738056, 0.3155336 ,
       0.65233824, 0.20893813, 0.31923875, 0.34366654, 0.2933434 ,
       0.51018809, 0.44294546, 0.30397474, 0.25974335, 0.43674728])

In [123]:
##Save model

In [124]:
import pickle

In [125]:
with open('model','wb') as file:
    pickle.dump(reg,file)

In [126]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler,file)